@import "./css/reset.css";
@import "./css/icons.css";
@import "./css/vars.scss";

@mixin text($fz) {
  font: {
    size: $fz;
    weight: bold;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: linear-gradient($color-grey 30%, $color-peachy);
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
}

a { 
  color: inherit; 
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

.top {
  display: flex;
}

.image {
  flex: 0 0 380px;
  height: 300px;

  &__photo {
    height: 100%;
    width: 100%;
  }
}

.name {
  align-items: center;
  background-color: $color-peachy;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  text-transform: uppercase;

  &__full-name {
    @include text(1.8*$fz);
  }

  &__first-name {
    color: $color-grey;
  }

  &__last-name {
    color: $color-light;
  }

  &__position {
    color: $color-brown;
    font-size: 1.28*$fz;
    margin-top: 10px;
  }
}

.main {
  display: flex;
}

.personal-info {
  background: $color-grey;
  box-sizing: border-box;
  flex: 0 0 380px;
  padding: 40px 30px;

  &__header {
    @include text($fz);
    border-bottom: 2px solid $color-peachy;
    color: $color-light;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
  }

  &__about-me-text {
    color: $color-light;
    font-size: 0.8*$fz;
    line-height: 1.3;
  }

  &__contact, &__skills {
    margin-top: 40px;
  }

  &__contact-item {
    align-items: center;
    color: $color-light;
    display: flex;
    font-size: 0.8*$fz;
    margin-top: 15px;

    & a:hover {
      color: $color-peachy;
      text-decoration: underline;
    }
  }

  &__contact-item > i {
    flex: 0 0 25px;
  }

  &__contact-item > a {
    flex: 0 0 auto;
  }

  &__skills-item {
    align-items: center;
    color: $color-light;
    display: flex;
    padding-top: 20px;

    &-name {
      flex: 0 0 100px;
      font-size: 0.8*$fz;
      text-transform: uppercase;
    }

    &-value {
      display: flex;
      flex: 1 1 auto;
      font-size: 0.8*$fz;
      justify-content: space-evenly;
    }
  }
}

.point-yes {
  color: $color-light;
}

.point-no {
  color: lighten($color-grey, 9);
}

.experience {
  background-color: $color-light;
  flex: 1 1 auto;
  padding: 40px;

  &__header {
    @include text($fz);
    background-color: $color-grey;
    color: $color-light;
    flex: 0 0 90%;
    padding: 7px 0 7px 15px;
    text-transform: uppercase;

    &-wrap {
      display: flex;
    }

    &-appendix {
      background-color: $color-peachy;
      flex: 0 0 10%;
    }
  }

  &__item {
    padding-top: 20px;

    &-header {
      @include text($fz);
      color: $color-grey;
      margin-bottom: 20px;
    }

    &-date {
      @include text(0.8*$fz);
      color: $color-grey;
    }

    &-text {
      color: lighten($color-grey, 9);
      font-size: 0.8*$fz;
      line-height: 1.3;
      margin-top: 20px;
    }
  }

  &__work {
    margin-top: 40px;
  }
}

@media (max-width: $media-lg) {}

@media (max-width: $media-mid) {}

@media (max-width: $media-sm) {
  .container {
    padding: 0 15px;
  }

  .top {
    flex-wrap: wrap;
  }

  .image {
    flex: 1 1 100%;
    height: auto;
  }

  .name {
    flex: 1 1 100%;
    height: 200px;

    &__inner {
      text-align: center;
    }
  }

  .main {
    flex-wrap: wrap;
  }

  .personal-info {
    flex: 1 1 100%;
    padding: 20px;
    width: 100%;

    &__contact-item {
      line-height: normal;

      & > i {
        padding-right: 10px;
      }

      & > a {
        flex: 1 1 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .experience {
    flex: 1 1 100%;
    padding: 20px;
  }
}